<ion-view view-title="{{workout.name}}">
  <ion-content has-header="true" padding="true">
    {{workout.name}}
<div class="list">
  <div ng-repeat="(key, round) in workout.rounds" type="item-text-wrap">
    {{ 'round' | translate }} {{key}}
    <div ng-repeat="singleRound in round" type="item-text-wrap" class="item item-thumbnail-left">
      <span ng-repeat="exercise in excercises">
        <span ng-if="singleRound.exercise === exercise._id">
          <span ng-if="exercise.videothumbnail">
            <a class="downloadVideo">
              <img ng-src="{{exercise.videothumbnail}}" alt="Drunkletics" class="item-image">
            </a>
            <!-- <button class="button" ng-click="download()">Download</button>
             <button class="button" ng-click="load()">Load</button>
             {{imgFile}}
             <img ng-src="{{imgFile}}" class="item-image"> -->
          </span>
          {{exercise.name}}
        </span>
      </span>
      {{singleRound.count}}
    </div>
  </div>
</div>
  </ion-content>
  <div class="bar bar-footer bar-balanced has-tabs">
      <a href="#/tab/workout/start/{{workout._id}}" class="button title">{{ 'toWorkout' | translate }}</a>
  </div>
</ion-view>
