<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon="ion-chatbox-working" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Courses Tab -->
  <ion-tab title="Courses" icon="icon ion-beer" href="#/tab/courses">
    <ion-nav-view name="tab-courses"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon="icon ion-person-stalker" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon="icon ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
