html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  height: 100%;
  font-family: $font-primary;
}

// defines the max-width of the mobile-page
.pageWrapper {
  width: 100%;
  max-width: $medium-max;
  height: 100%;
  overflow-x: hidden;
  padding: 7.1rem 0 0 0;
  position: relative;
}
