// Buttons
//
// Styleguide 5.

// Default Buttons
//
// .btn - Normal button
//
// markup:
// <button class="btn {$modifiers}">&lt;button&gt;</button>
// <a class="btn {$modifiers}" href="#">&lt;a&gt;</a>
// <input type="submit" class="btn {$modifiers}" value="&lt;submit&gt;">
//
// Styleguide 5.1
.btn {
    font-family: Arial, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    background: $color-brand;
    color: white;
    
    &:hover, &:active, &:focus {
        background: $color-brand;
        color: white;
        text-decoration: none;
    }
}
