<ion-view view-title="Account">
  <ion-nav-buttons side="right" ng-show="false">
      <button ui-sref="tab.account-settings" class="button button-icon icon ion-gear-b"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="profile-bg"></div>
     <div class="content">
       <div class="profile-info">
         <!--<img class="profile-image" src="img/daenerys.jpg">-->
         <!-- <ion-profile-picture ng-model="profilePicture"></ion-profile-picture> -->
         <img class="profile-image" ng-src="{{'http://graph.facebook.com/' + user.id + '/picture?type=large'}}"/>
         <h3 class="profile-name">{{user.name}}</h3>
         <button class="btn btn-block" ng-click="getInfo()">Get My Info</button>
       </div>

       <div class="list animate-fade-slide-in-right">
           {{friends}}
           <a ui-sref="tab.friends" class="item item-avatar item-icon-right">
               <img src="img/material1.jpg">
               <h2>Jon Snow</h2>
               <p>Da illest illegitimate</p>
               <i class="icon ion-chatbubble muted"></i>
           </a>
           <a ui-sref="tab.friends" class="item item-avatar item-icon-right">
               <img src="img/material2.jpg">
               <h2>Sansa Stark</h2>
               <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
               <i class="icon ion-chatbubble muted"></i>
           </a>
           <a ui-sref="tab.friends" class="item item-avatar item-icon-right">
               <img src="img/material3.jpg">
               <h2>Tyrion Lannister</h2>
               <p>B.A.M.F. imp</p>
               <i class="icon ion-chatbubble muted"></i>
           </a>
       </div>
     </div>
  </ion-content>
</ion-view>
